extends ../template

block variables
    - var title = '100 лучших родников'

block content
    main
        .content-w.katalog-rodnikov-page
            include ../components/bread-crumbs.pug

            h1.page-heading-1 100 лучших родников

            .cards__list.best-springs
                a(href="#").cards__items
                    .cards__items-img
                    .cards__items-body
                        div(data-srar='1').star-rating.cards__items-star
                            .star-rating-item
                            .star-rating-item
                            .star-rating-item
                            .star-rating-item
                            .star-rating-item
                            span.star-rating-number 24
                        h4.cards__items-h Родники Сергея Радонежского
                        p.cards__items-text Городское поселение Приводинскоедеревня Варнавино
                a(href="#").cards__items
                    .cards__items-img
                    .cards__items-body
                        div(data-srar='2').star-rating.cards__items-star
                            .star-rating-item
                            .star-rating-item
                            .star-rating-item
                            .star-rating-item
                            .star-rating-item
                            span.star-rating-number 24
                        h4.cards__items-h Родники Сергея Радонежского
                        p.cards__items-text Городское поселение Приводинскоедеревня Варнавино
                a(href="#").cards__items
                    .cards__items-img
                    .cards__items-body
                        div(data-srar='3').star-rating.cards__items-star
                            .star-rating-item
                            .star-rating-item
                            .star-rating-item
                            .star-rating-item
                            .star-rating-item
                            span.star-rating-number 25
                        h4.cards__items-h Родники Сергея Радонежского
                        p.cards__items-text Городское поселение Приводинскоедеревня Варнавино
                a(href="#").cards__items
                    .cards__items-img
                    .cards__items-body
                        div(data-srar='4').star-rating.cards__items-star
                            .star-rating-item
                            .star-rating-item
                            .star-rating-item
                            .star-rating-item
                            .star-rating-item
                            span.star-rating-number 16
                        h4.cards__items-h Родники Сергея Радонежского
                        p.cards__items-text Городское поселение Приводинскоедеревня Варнавино
                a(href="#").cards__items
                    .cards__items-img
                    .cards__items-body
                        div(data-srar='5').star-rating.cards__items-star
                            .star-rating-item
                            .star-rating-item
                            .star-rating-item
                            .star-rating-item
                            .star-rating-item
                            span.star-rating-number 57
                        h4.cards__items-h Родники Сергея Радонежского
                        p.cards__items-text Городское поселение Приводинскоедеревня Варнавино
                a(href="#").cards__items
                    .cards__items-img
                    .cards__items-body
                        div(data-srar='2').star-rating.cards__items-star
                            .star-rating-item
                            .star-rating-item
                            .star-rating-item
                            .star-rating-item
                            .star-rating-item
                            span.star-rating-number 284
                        h4.cards__items-h Родники Сергея Радонежского
                        p.cards__items-text Городское поселение Приводинскоедеревня Варнавино
                a(href="#").cards__items
                    .cards__items-img
                    .cards__items-body
                        div(data-srar='2').star-rating.cards__items-star
                            .star-rating-item
                            .star-rating-item
                            .star-rating-item
                            .star-rating-item
                            .star-rating-item
                            span.star-rating-number 229
                        h4.cards__items-h Родники Сергея Радонежского
                        p.cards__items-text Городское поселение Приводинскоедеревня Варнавино
                a(href="#").cards__items
                    .cards__items-img
                    .cards__items-body
                        div(data-srar='2').star-rating.cards__items-star
                            .star-rating-item
                            .star-rating-item
                            .star-rating-item
                            .star-rating-item
                            .star-rating-item
                            span.star-rating-number 130
                        h4.cards__items-h Родники Сергея Радонежского
                        p.cards__items-text Городское поселение Приводинскоедеревня Варнавино
                a(href="#").cards__items
                    .cards__items-img
                    .cards__items-body
                        div(data-srar='2').star-rating.cards__items-star
                            .star-rating-item
                            .star-rating-item
                            .star-rating-item
                            .star-rating-item
                            .star-rating-item
                            span.star-rating-number 231
                        h4.cards__items-h Родники Сергея Радонежского
                        p.cards__items-text Городское поселение Приводинскоедеревня Варнавино
                a(href="#").cards__items
                    .cards__items-img
                    .cards__items-body
                        div(data-srar='2').star-rating.cards__items-star
                            .star-rating-item
                            .star-rating-item
                            .star-rating-item
                            .star-rating-item
                            .star-rating-item
                            span.star-rating-number 321
                        h4.cards__items-h Родники Сергея Радонежского
                        p.cards__items-text Городское поселение Приводинскоедеревня Варнавино
