extends ../template

block variables
    - var title = 'Главная'
    - var contactForm = true

block content
    main
        section.slider-main__wrap
            .slider-main
                .slider-main__item
                    span.slider-main__text Отличительная черта всех наших блюд то, что они готовятся просто, без изысков, в традициях обычных жителей деревни.
                    img(src="./assets/images/img-1.jpg", alt="").slider-main__img
                .slider-main__item
                    span.slider-main__text Отличительная черта всех наших блюд то, что они готовятся просто, без изысков, в традициях обычных жителей деревни.
                    img(src="./assets/images/img-1.jpg", alt="").slider-main__img
                .slider-main__item
                    span.slider-main__text Отличительная черта всех наших блюд то, что они готовятся просто, без изысков, в традициях обычных жителей деревни.
                    img(src="./assets/images/img-1.jpg", alt="").slider-main__img
