extends ../template

block variables
    - var title = 'Главная'

block content
    main
        section.slider-main__wrap
            .slider-main
                .slider-main__item
                    span.slider-main__text Отличительная черта всех наших блюд то, что они готовятся просто, без изысков, в традициях обычных жителей деревни.
                    img(src="./assets/images/img-1.jpg", alt="Родники России").slider-main__img
                .slider-main__item
                    span.slider-main__text Отличительная черта всех наших блюд то, что они готовятся просто, без изысков, в традициях обычных жителей деревни.
                    img(src="./assets/images/img-1.jpg", alt="Родники России").slider-main__img
                .slider-main__item
                    span.slider-main__text Отличительная черта всех наших блюд то, что они готовятся просто, без изысков, в традициях обычных жителей деревни.
                    img(src="./assets/images/img-1.jpg", alt="Родники России").slider-main__img
        
        section.content-w.content-box
            .category-button
                h2.category-button__text 100 лучших родников
                a(href="#").button.button_ghost Перейти в каталог

            h3.nam-area Архангельская область
            .cards__list
                a(href="#").cards__items
                    .cards__items-img
                    .cards__items-body
                        h4.cards__items-h Родники Сергея Радонежского
                        p.cards__items-text Городское поселение Приводинскоедеревня Варнавино
                a(href="#").cards__items
                    .cards__items-img
                    .cards__items-body
                        h4.cards__items-h Родники Сергея Радонежского
                        p.cards__items-text Городское поселение Приводинскоедеревня Варнавино
                a(href="#").cards__items
                    .cards__items-img
                    .cards__items-body
                        h4.cards__items-h Родники Сергея Радонежского
                        p.cards__items-text Городское поселение Приводинскоедеревня Варнавино
                a(href="#").cards__items
                    .cards__items-img
                    .cards__items-body
                        h4.cards__items-h Родники Сергея Радонежского
                        p.cards__items-text Городское поселение Приводинскоедеревня Варнавино
                a(href="#").cards__items
                    .cards__items-img
                    .cards__items-body
                        h4.cards__items-h Родники Сергея Радонежского
                        p.cards__items-text Городское поселение Приводинскоедеревня Варнавино
                a(href="#").cards__items
                    .cards__items-img
                    .cards__items-body
                        h4.cards__items-h Родники Сергея Радонежского
                        p.cards__items-text Городское поселение Приводинскоедеревня Варнавино
                a(href="#").cards__items
                    .cards__items-img
                    .cards__items-body
                        h4.cards__items-h Родники Сергея Радонежского
                        p.cards__items-text Городское поселение Приводинскоедеревня Варнавино
                a(href="#").cards__items
                    .cards__items-img
                    .cards__items-body
                        h4.cards__items-h Родники Сергея Радонежского
                        p.cards__items-text Городское поселение Приводинскоедеревня Варнавино
                a(href="#").cards__items
                    .cards__items-img
                    .cards__items-body
                        h4.cards__items-h Родники Сергея Радонежского
                        p.cards__items-text Городское поселение Приводинскоедеревня Варнавино
                a(href="#").cards__items
                    .cards__items-img
                    .cards__items-body
                        h4.cards__items-h Родники Сергея Радонежского
                        p.cards__items-text Городское поселение Приводинскоедеревня Варнавино
                
        section.content-w.content-box
            .category-button
                h2.category-button__text Участнки проекта
                a(href="#").button.button_ghost Все участники

            .participant
                .participant__item
                    .participant__ava-wrap
                        img(src="./assets/images/ava.jpg", alt="").participant__ava
                        .participant__ava-text
                            span.participant__ava-name Вероника
                            span.participant__ava-date 19 Сентября 2018                    
                    span.participant__text Так вот, вкус продуктов совершенно другой, особенно йогурт меня удивил, это не вода как в магазине, а пьешь как будто сливки. Очень густой и наполнитель натуральный.
                .participant__item
                    .participant__ava-wrap
                        img(src="./assets/images/ava.jpg", alt="").participant__ava
                        .participant__ava-text
                            span.participant__ava-name Вероника
                            span.participant__ava-date 19 Сентября 2018                    
                    span.participant__text Так вот, вкус продуктов совершенно другой, особенно йогурт меня удивил, это не вода как в магазине, а пьешь как будто сливки. Очень густой и наполнитель натуральный.
                .participant__item
                    .participant__ava-wrap
                        img(src="./assets/images/ava.jpg", alt="").participant__ava
                        .participant__ava-text
                            span.participant__ava-name Вероника
                            span.participant__ava-date 19 Сентября 2018                    
                    span.participant__text Так вот, вкус продуктов совершенно другой, особенно йогурт меня удивил, это не вода как в магазине, а пьешь как будто сливки. Очень густой и наполнитель натуральный.





