extends ../template

block variables
    - var title = 'Главная'
    - var contactForm = true

block content
    main
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br>Qui reiciendis vero nam ullam iusto eius, assumenda eaque quae a praesentium commodi aliquid minima asperiores necessitatibus ad temporibus molestias ipsa nihil.<br/>