extends ../template

block variables
    - var title = 'Каталог родников'

block content
    main
        .content-w.katalog-rodnikov-page
            include ../components/bread-crumbs.pug

            h1.page-heading-1 Каталог родников

            a(href="#").button.button_ghost.katalog-rodnikov__button Посмотреть каталог

            .rodniki-poblizosti__map
                //- img(src="./assets/images/map.png", alt="map")
                <div id="map"></div>

            .katalog-rodnikov__letters
                ul.filter-letters
                    li.filter-letters__items
                        a(href="#").filter-letters__linc А
                    li.filter-letters__items
                        a(href="#").filter-letters__linc.filter-letters__linc_active Б
                    li.filter-letters__items
                        a(href="#").filter-letters__linc В
                    li.filter-letters__items
                        a(href="#").filter-letters__linc Г
                    li.filter-letters__items
                        a(href="#").filter-letters__linc Д
                    li.filter-letters__items
                        a(href="#").filter-letters__linc Е
                    li.filter-letters__items
                        a(href="#").filter-letters__linc Ж
                    li.filter-letters__items
                        a(href="#").filter-letters__linc З
                    li.filter-letters__items
                        a(href="#").filter-letters__linc И
                    li.filter-letters__items
                        a(href="#").filter-letters__linc К
                    li.filter-letters__items
                        a(href="#").filter-letters__linc Л
                    li.filter-letters__items
                        a(href="#").filter-letters__linc М
                    li.filter-letters__items
                        a(href="#").filter-letters__linc Н
                    li.filter-letters__items
                        a(href="#").filter-letters__linc О
                    li.filter-letters__items
                        a(href="#").filter-letters__linc П
                    li.filter-letters__items
                        a(href="#").filter-letters__linc Р
                    li.filter-letters__items
                        a(href="#").filter-letters__linc С
                    li.filter-letters__items
                        a(href="#").filter-letters__linc Т
                    li.filter-letters__items
                        a(href="#").filter-letters__linc У
                    li.filter-letters__items
                        a(href="#").filter-letters__linc Ф
                    li.filter-letters__items
                        a(href="#").filter-letters__linc Х
                    li.filter-letters__items
                        a(href="#").filter-letters__linc Ц
                    li.filter-letters__items
                        a(href="#").filter-letters__linc Ч
                    li.filter-letters__items
                        a(href="#").filter-letters__linc Ш
                    li.filter-letters__items
                        a(href="#").filter-letters__linc Щ
                    li.filter-letters__items
                        a(href="#").filter-letters__linc Э
                    li.filter-letters__items
                        a(href="#").filter-letters__linc Ю
                    li.filter-letters__items
                        a(href="#").filter-letters__linc Я
        
            h3.nam-area Архангельская область
            .cards__list.katalog-rodnikov-page__cards
                a(href="#").cards__items
                    .cards__items-img
                    .cards__items-body
                        h4.cards__items-h Родники Сергея Радонежского
                        p.cards__items-text Городское поселение Приводинскоедеревня Варнавино
                a(href="#").cards__items
                    .cards__items-img
                    .cards__items-body
                        h4.cards__items-h Родники Сергея Радонежского
                        p.cards__items-text Городское поселение Приводинскоедеревня Варнавино
                a(href="#").cards__items
                    .cards__items-img
                    .cards__items-body
                        h4.cards__items-h Родники Сергея Радонежского
                        p.cards__items-text Городское поселение Приводинскоедеревня Варнавино
                a(href="#").cards__items
                    .cards__items-img
                    .cards__items-body
                        h4.cards__items-h Родники Сергея Радонежского
                        p.cards__items-text Городское поселение Приводинскоедеревня Варнавино
                a(href="#").cards__items
                    .cards__items-img
                    .cards__items-body
                        h4.cards__items-h Родники Сергея Радонежского
                        p.cards__items-text Городское поселение Приводинскоедеревня Варнавино
                a(href="#").cards__items
                    .cards__items-img
                    .cards__items-body
                        h4.cards__items-h Родники Сергея Радонежского
                        p.cards__items-text Городское поселение Приводинскоедеревня Варнавино
                a(href="#").cards__items
                    .cards__items-img
                    .cards__items-body
                        h4.cards__items-h Родники Сергея Радонежского
                        p.cards__items-text Городское поселение Приводинскоедеревня Варнавино
                a(href="#").cards__items
                    .cards__items-img
                    .cards__items-body
                        h4.cards__items-h Родники Сергея Радонежского
                        p.cards__items-text Городское поселение Приводинскоедеревня Варнавино
                a(href="#").cards__items
                    .cards__items-img
                    .cards__items-body
                        h4.cards__items-h Родники Сергея Радонежского
                        p.cards__items-text Городское поселение Приводинскоедеревня Варнавино
                a(href="#").cards__items
                    .cards__items-img
                    .cards__items-body
                        h4.cards__items-h Родники Сергея Радонежского
                        p.cards__items-text Городское поселение Приводинскоедеревня Варнавино


