extends ../template

block variables
    - var title = 'О родниковой воде'

block content
    main
        .content-w.information-page
            include ../components/bread-crumbs.pug

            h1.page-heading-1 О родниковой воде

            .information-page__content
                img(src="./assets/images/img-5.png", alt="О родниковой воде").information-page__content-img
                p Родниковая вода почиталась еще с древних времен.  Люди замечали, что она намного вкуснее, чем вода из других источников, а также хорошо  утоляет жажду и улучшает самочувствие.  Даже сегодня такая водичка считается чистой, полезной, другими словами – живой.
                p Соразмеренный химический комплекс;
                p Сохранение натуральных свойств благодаря естественному фильтрованию;
                p Повышенное содержание кислорода, благодаря которому родниковая питьевая жидкость обладает свойствами «живой воды», придает жизненных сил, бодрости и исключает надобность в кипячении;
                p Абсолютно не требует хлорирования, такую воду не нужно озонировать и выполнять с ней прочие физико-экономические манипуляции.


