extends ../template

block variables
    - var title = 'Фотогалерея'

block content
    main
        .content-w.katalog-rodnikov-page
            include ../components/bread-crumbs.pug

            h1.page-heading-1 Фотогалерея

            .cards__list.best-springs
                a(href="#").cards__items.cards_photo
                    .cards__items-img
                    span.cards__photo-text Родники Сергея Радонежского
                a(href="#").cards__items.cards_photo
                    .cards__items-img
                    span.cards__photo-text Родники Сергея Радонежского
                a(href="#").cards__items.cards_photo
                    .cards__items-img
                    span.cards__photo-text Родники Сергея Радонежского
                a(href="#").cards__items.cards_photo
                    .cards__items-img
                    span.cards__photo-text Родники Сергея Радонежского
                a(href="#").cards__items.cards_photo
                    .cards__items-img
                    span.cards__photo-text Родники Сергея Радонежского
                a(href="#").cards__items.cards_photo
                    .cards__items-img
                    span.cards__photo-text Родники Сергея Радонежского
                a(href="#").cards__items.cards_photo
                    .cards__items-img
                    span.cards__photo-text Родники Сергея Радонежского
                a(href="#").cards__items.cards_photo
                    .cards__items-img
                    span.cards__photo-text Родники Сергея Радонежского
                a(href="#").cards__items.cards_photo
                    .cards__items-img
                    span.cards__photo-text Родники Сергея Радонежского
                a(href="#").cards__items.cards_photo
                    .cards__items-img
                    span.cards__photo-text Родники Сергея Радонежского
