extends ../template

block variables
    - var title = 'Родники поблизости'

block content
    main
        .content-w.rodniki-poblizosti
            include ../components/bread-crumbs.pug

            h1.page-heading-1 Родники поблизости

            .rodniki-poblizosti__map
                img(src="./assets/images/map.png", alt="map")

            .search__get
                .search__total
                    span Нашлось 
                    span 214
                    span  ответов

                .search__list
                    a(href="#").search__list-item
                        span.search__list-text Родник сергея Радонежского
                        .search__list-distance
                            span расстояние до родника около 
                            span 10
                            span  км
                        span.search__list-url rodnikirossi.ru/ru/rodniki/rodnik_01
                    a(href="#").search__list-item
                        span.search__list-text Родник сергея Радонежского
                        .search__list-distance
                            span расстояние до родника около 
                            span 10
                            span  км
                        span.search__list-url rodnikirossi.ru/ru/rodniki/rodnik_01
                    a(href="#").search__list-item
                        span.search__list-text Родник сергея Радонежского
                        .search__list-distance
                            span расстояние до родника около 
                            span 10
                            span  км
                        span.search__list-url rodnikirossi.ru/ru/rodniki/rodnik_01
                    a(href="#").search__list-item
                        span.search__list-text Родник сергея Радонежского
                        .search__list-distance
                            span расстояние до родника около 
                            span 10
                            span  км
                        span.search__list-url rodnikirossi.ru/ru/rodniki/rodnik_01
                    a(href="#").search__list-item
                        span.search__list-text Родник сергея Радонежского
                        .search__list-distance
                            span расстояние до родника около 
                            span 10
                            span  км
                        span.search__list-url rodnikirossi.ru/ru/rodniki/rodnik_01
    

            ul.pagination.search__pagination
                li.paginatio 
                    a(href="#") <
                li.paginatio 
                    a(href="#") 1
                li.paginatio.paginatio_active
                    a(href="#") 2
                li.paginatio 
                    a(href="#") 3
                li.paginatio 
                    a(href="#") 4
                li.paginatio 
                    a(href="#") ...
                li.paginatio 
                    a(href="#") >            


