extends ../template

block variables
    - var title = 'Полезная информация'

block content
    main
        .content-w.information
            include ../components/bread-crumbs.pug

            h1.page-heading-1 Полезные статьи

            .information__list
                .information__list-item
                    .information__list-img
                    span.information__list-text О родниковой воде
                    span.information__list-text2 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat illum at, nemo quod impedit id ea tempore rerum odit, sunt, corporis unde!
                    a(href="#").button.button_ghost.information__list-button Подробнее
                .information__list-item
                    .information__list-img
                    span.information__list-text О родниковой воде
                    span.information__list-text2 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat illum at, nemo quod impedit id ea tempore rerum odit, sunt, corporis unde!
                    a(href="#").button.button_ghost.information__list-button Подробнее
                .information__list-item
                    .information__list-img
                    span.information__list-text О родниковой воде
                    span.information__list-text2 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat illum at, nemo quod impedit id ea tempore rerum odit, sunt, corporis unde!
                    a(href="#").button.button_ghost.information__list-button Подробнее
                .information__list-item
                    .information__list-img
                    span.information__list-text О родниковой воде
                    span.information__list-text2 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat illum at, nemo quod impedit id ea tempore rerum odit, sunt, corporis unde!
                    a(href="#").button.button_ghost.information__list-button Подробнее
                .information__list-item
                    .information__list-img
                    span.information__list-text О родниковой воде
                    span.information__list-text2 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat illum at, nemo quod impedit id ea tempore rerum odit, sunt, corporis unde!
                    a(href="#").button.button_ghost.information__list-button Подробнее
                .information__list-item
                    .information__list-img
                    span.information__list-text О родниковой воде
                    span.information__list-text2 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat illum at, nemo quod impedit id ea tempore rerum odit, sunt, corporis unde!
                    a(href="#").button.button_ghost.information__list-button Подробнее
                .information__list-item
                    .information__list-img
                    span.information__list-text О родниковой воде
                    span.information__list-text2 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat illum at, nemo quod impedit id ea tempore rerum odit, sunt, corporis unde!
                    a(href="#").button.button_ghost.information__list-button Подробнее
                .information__list-item
                    .information__list-img
                    span.information__list-text О родниковой воде
                    span.information__list-text2 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat illum at, nemo quod impedit id ea tempore rerum odit, sunt, corporis unde!
                    a(href="#").button.button_ghost.information__list-button Подробнее
                .information__list-item
                    .information__list-img
                    span.information__list-text О родниковой воде
                    span.information__list-text2 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat illum at, nemo quod impedit id ea tempore rerum odit, sunt, corporis unde!
                    a(href="#").button.button_ghost.information__list-button Подробнее
                .information__list-item
                    .information__list-img
                    span.information__list-text О родниковой воде
                    span.information__list-text2 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat illum at, nemo quod impedit id ea tempore rerum odit, sunt, corporis unde!
                    a(href="#").button.button_ghost.information__list-button Подробнее
                .information__list-item
                    .information__list-img
                    span.information__list-text О родниковой воде
                    span.information__list-text2 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat illum at, nemo quod impedit id ea tempore rerum odit, sunt, corporis unde!
                    a(href="#").button.button_ghost.information__list-button Подробнее
                .information__list-item
                    .information__list-img
                    span.information__list-text О родниковой воде
                    span.information__list-text2 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat illum at, nemo quod impedit id ea tempore rerum odit, sunt, corporis unde!
                    a(href="#").button.button_ghost.information__list-button Подробнее
            
            .information__button-wrap
                button(href="#").button.button_ghost.information__button Показать еще
