extends ../template

block variables
    - var title = 'О родниковой воде'

block content
    main
        .content-w.vystavki
            include ../components/bread-crumbs.pug

            h1.page-heading-1 О родниковой воде

            .vystavki-item
                img(src="./assets/images/img-5.png", alt="О родниковой воде").vystavki__img
                .vystavki-item__wrap
                    h2 Выставка "Родники России"
                    p Организатор: КВЦ "Сокольнки" <br>Место проведения: Россия, Москва, КВЦ «Сокольники», павильон 4 <br>Дата проведения: 3 июня 2020 г. – 4 июня 2020 г.<br>Официальный сайт: 
                    p Экспонируемые продукты и разделы выставки Вы можете посмотреть ниже, в блоке «Дополнительная информация». Полный список участников Aqua Therm Kyiv 2020 размещается на официальном сайте выставки и постоянно обновляется. Там же вы сможете найти экспонентов предыдущего года. Деловая программа Aqua Therm Kyiv 2020 обычно публикуется ближе к началу события.
            .vystavki-item
                img(src="./assets/images/img-5.png", alt="О родниковой воде").vystavki__img
                .vystavki-item__wrap
                    h2 Выставка "Родники России"
                    p Организатор: КВЦ "Сокольнки" <br>Место проведения: Россия, Москва, КВЦ «Сокольники», павильон 4 <br>Дата проведения: 3 июня 2020 г. – 4 июня 2020 г.<br>Официальный сайт: 
                    p Экспонируемые продукты и разделы выставки Вы можете посмотреть ниже, в блоке «Дополнительная информация». Полный список участников Aqua Therm Kyiv 2020 размещается на официальном сайте выставки и постоянно обновляется. Там же вы сможете найти экспонентов предыдущего года. Деловая программа Aqua Therm Kyiv 2020 обычно публикуется ближе к началу события.
            .vystavki-item
                img(src="./assets/images/img-5.png", alt="О родниковой воде").vystavki__img
                .vystavki-item__wrap
                    h2 Выставка "Родники России"
                    p Организатор: КВЦ "Сокольнки" <br>Место проведения: Россия, Москва, КВЦ «Сокольники», павильон 4 <br>Дата проведения: 3 июня 2020 г. – 4 июня 2020 г.<br>Официальный сайт: 
                    p Экспонируемые продукты и разделы выставки Вы можете посмотреть ниже, в блоке «Дополнительная информация». Полный список участников Aqua Therm Kyiv 2020 размещается на официальном сайте выставки и постоянно обновляется. Там же вы сможете найти экспонентов предыдущего года. Деловая программа Aqua Therm Kyiv 2020 обычно публикуется ближе к началу события.



