.contacts__person-wrap {
	display: flex;
	margin-bottom: 68px;
	justify-content: space-around;
}

.contacts__person {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contacts__person-img {
	margin-bottom: 16px;
}

.contacts__person-name {
	margin-bottom: 16px;
	font-size: 24px;
}

.contacts__person-position,
.contacts__person-tel,
.contacts__person-mall {
	color: $color-black-light;
}

.contacts__person-tel {
	margin-bottom: 16px;
}

.contacts__text-wrap {
	margin-bottom: 42px;
}

.contacts__text-item {
	display: flex;
	margin-bottom: 22px;
	align-items: center;

	&:last-child {
		margin-bottom: 0;
	}

	img {
		margin-right: 16px;
	}

	a,
	span {
		color: $color-black-light;
	}
}

.contacts__map-wrap {
	display: flex;
	height: 360px;
	margin-bottom: 68px;

	img {
		width: 100%;
		max-width: 500px;
		flex-shrink: 0;
	}
}

@media screen and (max-width: 1320px) {
}

@media screen and (max-width: 960px) {
	.contacts__map-wrap {
		flex-direction: column;
		height: auto;
		align-items: center;
	}
}

@media screen and (max-width: 768px) {
	.contacts__person-wrap {
		flex-direction: column;
	}

	.contacts__person {
		margin-bottom: 38px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
