.o-proyekte__text {
	margin-bottom: 68px;
	color: $color-black-light;
}

.o-proyekte__number {
	margin-bottom: 68px;
}

.main-number__wrap {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 28px 0;
	background-color: $color-blue;
	align-items: center;
}

.main-number {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.main-number__item {
	display: flex;
	flex-direction: column;
}

.main-number__number,
.main-number__name {
	text-align: center;
	color: $color-white;
}

.main-number__number {
	font-size: 52px;
	font-weight: 600;
	line-height: 1;
}

.main-number__name {
	font-size: 32px;
}

.o-proyekte__video {
	margin-bottom: 68px;

	video {
		width: 100%;
		max-width: 700px;
	}
}

.o-proyekte__fichi {
	margin-bottom: 68px;
}

.fichi {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.fichi__item {
	display: flex;
	width: 100%;
	max-width: 300px;
}

.fichi__img {
	margin-right: 16px;
}

.fichi__text-wrap {
	display: flex;
	flex-direction: column;
}

.fichi__name {
	margin-top: 12px;
	font-size: 18px;
}

.fichi__text {
	color: $color-black-light;
	font-size: 12px;
}

.o-proyekte__img-linc {
	margin-bottom: 68px;
}

.img-linc {
	display: flex;
}

.img-linc__item {
	display: flex;
	flex-direction: column;
	width: 33.33%;
	color: $color-black;

	&:hover {
		text-decoration: none;
	}
}

.img-linc__img {
	width: 100%;
	height: auto;
	margin-bottom: 12px;
}

.img-linc__name {
	margin-bottom: 6px;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
}

.img-linc__text {
	text-align: center;
	color: $color-black-light;
	font-size: 12px;
}

.o-proyekte__pdf {
	margin-bottom: 68px;
}

.pdf-download {
	display: flex;
	justify-content: space-around;
}

.pdf-download__item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pdf-download__img {
	margin-bottom: 26px;
}

@media screen and (max-width: 960px) {
	.main-number {
		flex-direction: column;
	}

	.main-number__item {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.main-number__number {
		font-size: 22px;
	}

	.main-number__name {
		font-size: 16px;
	}

	.fichi {
		flex-direction: column;
	}

	.fichi__item {
		margin-bottom: 38px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.fichi__img {
		width: 60px;
		height: auto;
	}

	.fichi__name {
		margin-top: 0;
	}
}

@media screen and (max-width: 768px) {
	.img-linc {
		flex-direction: column;
	}

	.img-linc__item {
		width: 100%;
		margin-bottom: 38px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

@media screen and (max-width: 650px) {
	.pdf-download {
		flex-direction: column;
	}

	.pdf-download__item {
		margin-bottom: 38px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
