.search__inputs {
	display: flex;
	width: 100%;
	margin: 68px 0;
	border-bottom: 1px solid $color-black-light;
	align-items: center;

	input {
		width: 100%;
		margin: 0;
		padding: 6px 12px;
		border: none;
		font-size: 18px;

		&:focus {
			outline: none;
		}
	}

	button {
		cursor: pointer;
		border: none;
		background-color: transparent;
		font-family: $font-Open-Sans;
		font-size: 18px;
		font-weight: 500;
	}
}

.search__get {
	position: relative;
	padding: 12px 0;
}

.search__total {
	position: absolute;
	top: 12px;
	right: 0;
	color: $color-black-light;
}

.search__list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.search__list-item {
	display: flex;
	flex-direction: column;
	margin-bottom: 48px;

	&:hover {
		text-decoration: none;
	}
}

.search__list-text {
	margin-bottom: 8px;
	color: $color-black;
	font-size: 20px;
}

.search__list-distance {
	margin-bottom: 8px;
	color: $color-black-light;
}

.search__list-url {
	color: $color-blue;
}

.search__pagination {
	margin-bottom: 64px;
}

.rodniki-poblizosti__map {
	margin-bottom: 44px;

	img {
		width: 100%;
		height: auto;
	}
}

.katalog-rodnikov__button {
	margin-bottom: 32px;
}

.katalog-rodnikov__letters {
	margin-bottom: 32px;
}

.filter-letters {
	display: flex;

	margin-right: -16px;
	margin-bottom: -16px;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.filter-letters__items {
	margin-right: 16px;
	margin-bottom: 16px;
}

.filter-letters__linc {
	color: $color-black;
	font-size: 28px;
}

.filter-letters__linc_active {
	text-decoration: underline;
	color: $color-blue-light;
}

.katalog-rodnikov__list {
	margin-bottom: 68px;
}

.katalog {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.katalog__item {
	margin-bottom: 32px;
	color: $color-black;
	font-size: 36px;
	font-weight: 700;

	&:last-child {
		margin-bottom: 0;
	}
}

.katalog__item_active {
	color: $color-blue-light;
}

.uchastniki-po-regionam__participant {
	margin-bottom: 68px;
}

.best-springs {
	margin-bottom: 68px;
}

@media screen and (max-width: 960px) {
	.search__total {
		position: static;
		margin-bottom: 18px;
		text-align: right;
	}
}

@media screen and (max-width: 768px) {
	.filter-letters__linc {
		font-size: 18px;
	}

	.search__inputs {
		margin: 32px 0;
	}

	.katalog__item {
		font-size: 22px;
	}

	.search__list-text {
		font-size: 18px;
	}
}
