.search__inputs {
	width: 100%;
	margin: 68px 0;
	display: flex;
	align-items: center;
	border-bottom: 1px solid $color-black-light;

	input {
		width: 100%;
		margin: 0;
		padding: 6px 12px;
		border: none;
		font-size: 18px;

		&:focus {
			outline: none;
		}
	}

	button {
		font-family: $font-Open-Sans;
		font-size: 18px;
		font-weight: 500;
		border: none;
		background-color: transparent;
		cursor: pointer;
	}
}

.search__get {
	position: relative;
	padding: 12px 0;
}

.search__total {
	position: absolute;
	top: 12px;
	right: 0;
	color: $color-black-light;
}

.search__list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.search__list-item {
	margin-bottom: 48px;
	display: flex;
	flex-direction: column;

	&:hover {
		text-decoration: none;
	}
}

.search__list-text {
	font-size: 20px;
	color: $color-black;
	margin-bottom: 8px;
}

.search__list-distance {
	color: $color-black-light;
	margin-bottom: 8px;
}

.search__list-url {
	color: $color-blue;
}

.search__pagination {
	margin-bottom: 64px;
}

.rodniki-poblizosti__map {
	margin-bottom: 44px;
}

.katalog-rodnikov__button {
	margin-bottom: 32px;
}

.katalog-rodnikov__letters {
	margin-bottom: 32px;
}

.filter-letters {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	margin-right: -16px;
	margin-bottom: -16px;
}

.filter-letters__items {
	margin-right: 16px;
	margin-bottom: 16px;
}

.filter-letters__linc {
	font-size: 28px;
	color: $color-black;
}

.filter-letters__linc_active {
	color: $color-blue-light;
	text-decoration: underline;
}

.katalog-rodnikov__list {
	margin-bottom: 68px;
}

.katalog {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.katalog__item {
	font-size: 36px;
	font-weight: 700;
	color: $color-black;
	margin-bottom: 32px;

	&:last-child {
		margin-bottom: 0;
	}
}

.katalog__item_active {
	color: $color-blue-light;
}
