.search__inputs {
	width: 100%;
	margin: 68px 0;
	display: flex;
	align-items: center;
	border-bottom: 1px solid $color-black-light;

	input {
		width: 100%;
		margin: 0;
		padding: 6px 12px;
		border: none;
		font-size: 18px;

		&:focus {
			outline: none;
		}
	}

	button {
		font-family: $font-Open-Sans;
		font-size: 18px;
		font-weight: 500;
		border: none;
		background-color: transparent;
		cursor: pointer;
	}
}

.search__get {
	position: relative;
	padding: 12px 0;
}

.search__total {
	position: absolute;
	top: 12px;
	right: 0;
	color: $color-black-light;
}

.search__list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.search__list-item {
	margin-bottom: 48px;
	display: flex;
	flex-direction: column;

	&:hover {
		text-decoration: none;
	}
}

.search__list-text {
	font-size: 20px;
	color: $color-black;
	margin-bottom: 8px;
}

.search__list-distance {
	color: $color-black-light;
	margin-bottom: 8px;
}

.search__list-url {
	color: $color-blue;
}

.search__pagination {
	margin-bottom: 64px;
}

.rodniki-poblizosti__map {
	margin-bottom: 44px;
}
