.springs-page__slider-wrap {
	position: relative;
	margin-bottom: 32px;
	padding: 0 40px;

	.tns-controls {
		position: absolute;
		top: 50%;
		right: 0;
		left: 0;
		display: flex;
		transform: translateY(-50%);
		justify-content: space-between;

		button {
			width: 20px;
			height: 80px;
			margin: 0;
			padding: 0;
			border: none;
			background-color: transparent;
			background-image: url("../images/arrow.svg");
			background-repeat: no-repeat;
			background-position: center;
		}

		button[data-controls="next"] {
			transform: rotate(180deg);
		}
	}
}

.springs-page__slider-item {
	width: 100%;
	min-height: 250px;
	object-fit: cover;
}

.springs-page__audio {
	margin-bottom: 32px;
}

.springs-page__audio-text {
	display: block;
	color: $color-black-light;
}

.springs-page__text-wrap {
	margin-bottom: 68px;

	.star-rating {
		max-width: 350px;
	}
}

.springs-page__text-heading {
	margin: 0 0 16px;
	font-size: 22px;
	font-weight: normal;
}

.springs-page__text {
	margin: 0;
	color: $color-black-light;

	> span {
		display: block;
	}
}

.springs-page__text-img {
	max-width: 100%;
	max-height: 400px;
}

.add-comment {
	display: flex;
	flex-direction: column;
	margin-bottom: 68px;
	padding: 20px;
	border: 1px solid $color-black-light;
}

.add-comment__heading {
	margin: 0 0 18px 0;
	font-size: 36px;
	font-weight: 600;
}

.add-comment__star-wrap {
	display: flex;
	margin-bottom: 18px;
	align-self: center;

	input[value="1"]:checked ~ label:nth-of-type(-n + 1),
	input[value="2"]:checked ~ label:nth-of-type(-n + 2),
	input[value="3"]:checked ~ label:nth-of-type(-n + 3),
	input[value="4"]:checked ~ label:nth-of-type(-n + 4),
	input[value="5"]:checked ~ label:nth-of-type(-n + 5) {
		background-image: url("../images/star-on.svg");
	}

	input {
		display: none;
	}
}

.add-comment__star {
	display: block;
	width: 40px;
	height: 35px;
	margin-right: 12px;
	cursor: pointer;
	background-image: url("../images/star-off.svg");
	background-repeat: no-repeat;
	background-position: center;
	flex-shrink: 0;
}

.add-comment__input {
	margin-bottom: 18px;

	textarea,
	input {
		width: 100%;
		padding: 6px 16px;
		border: 1px solid $color-black-light;
		border-radius: 8px;
		font-family: $font-Open-Sans;
		font-size: 22px;
		font-weight: normal;
	}

	textarea {
		height: 200px;
		min-height: 200px;
		max-height: 400px;
		resize: vertical;
	}
}

.add-comment__button {
	align-self: flex-end;
}

.springs-page__comments {
	margin-bottom: 68px;
}

.springs-page__comments-name {
	margin-right: 18px;
	font-size: 20px;
}

.springs-page__comments-date {
	color: $color-black-light;
	font-size: 14px;
}

.springs-page__comments-text {
	margin: 8px 0 0 0;
}

@media screen and (max-width: 768px) {
	.springs-page__text-wrap {
		margin-bottom: 42px;
	}

	.add-comment {
		padding: 0;
		border: none;
	}

	.add-comment__heading {
		font-size: 26px;
	}

	.add-comment__input textarea,
	.add-comment__input input {
		font-size: 16px;
	}
}
