.information__list {
	display: flex;
	margin-bottom: 68px;
	flex-wrap: wrap;
}

.information__list-item {
	width: 23%;
	margin: 30px 1%;

	color: $color-black;
	font-weight: 600;

	display: flex;
	flex-direction: column;
}

.information__list-text {
	margin-bottom: 8px;
}

.information__list-text2 {
	margin-bottom: 8px;
	color: $color-black-light;
	font-size: 12px;
}

.information__list-button {
	align-self: flex-end;
	height: 32px;
	padding: 0 24px;
}

.information__list-img {
	width: 100%;
	height: 280px;
	margin-bottom: 20px;
	background-image: url("../images/img-5.png");
	background-position: center;
	background-size: cover;
}

.information__button-wrap {
	display: flex;
	width: 100%;
	margin-bottom: 68px;
	align-items: center;
	justify-content: center;
}

.information-page__content {
	margin-bottom: 68px;
	color: $color-black-light;
}

.information-page__content-img {
	float: left;
	max-width: 100%;
	margin-right: 30px;
	margin-bottom: 30px;
}

.vystavki-item {
	display: flex;
	margin-bottom: 68px;
	color: $color-black;
	align-items: flex-start;

	&:hover {
		text-decoration: none;
	}
}

.vystavki__img {
	width: 100%;
	max-width: 440px;
	height: auto;
	margin-right: 30px;
}

.vystavki-item__wrap {
	h2 {
		margin: 0 0 18px 0;
	}
}

@media screen and (max-width: 880px) {
	.information__list-item {
		width: 31%;
		margin: 30px 1%;
	}

	.vystavki-item {
		flex-direction: column;
		align-items: center;
	}

	.vystavki__img {
		margin-right: 0;
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 728px) {
	.information__list-item {
		width: 46%;
		margin: 20px 2%;
	}

	.information__list-img {
		margin-bottom: 12px;
	}
}

@media screen and (max-width: 550px) {
	.information__list-item {
		width: 100%;
		margin: 20px 0;
	}
}
