// Цвета
$color-black: #231f20;
$color-black-light: #929497;
$color-white: #ffffff;
$color-blue: #005a98;
$color-blue-light: #44c7f4;

// Шрифты
$font-Open-Sans: "Open Sans", sans-serif;

@import "./common/fonts.scss";
@import "./common/tiny-slider.scss";

* {
	box-sizing: border-box;
	outline-offset: 4px;
}

// https://github.com/WICG/focus-visible
.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
}

body {
	margin: 0;
	padding: 0;
	font-family: $font-Open-Sans;
	font-weight: normal;
	line-height: 1.4;
	font-size: 16px;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

p {
	margin: 10px 0;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

br {
	content: "";
	display: block;
}

.header-wrap {
	position: relative;
	z-index: 10;
}

main {
	z-index: 1;
}

main,
.header-wrap,
.footer-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-direction: column;
}

.content-w {
	width: 100%;
	max-width: 1280px;
}

.content-box {
	margin-top: 68px;
	margin-bottom: 68px;
}

.category-button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 56px;
}

.category-button__text {
	position: absolute;
	left: 0;
	font-weight: bold;
	font-size: 18px;
}

.nam-area {
	font-weight: normal;
	font-size: 28px;
	margin: 0 0 8px 0;
}

// Хлебные крошки
.bread-crumbs {
	display: flex;
	margin: 30px 0;
}

.bread-crumbs__item {
	display: flex;
	align-items: center;
	color: $color-blue-light;

	* {
		color: $color-blue-light;
		font-weight: normal;
		font-size: 14px;
	}

	&::after {
		content: "→";
		margin: -2px 8px 0 8px;
		display: block;
	}

	&:hover::after {
		text-decoration: none;
	}

	&:last-child::after {
		content: none;
	}
}

// Пагинация
.pagination {
	display: flex;
}

.paginatio {
	margin-right: 6px;
	display: inline-block;
	padding: 2px 6px;

	a {
		color: $color-black;
	}
}

.paginatio_active {
	background-color: $color-black-light;
}

// Кнопки
.button {
	font-family: $font-Open-Sans;
	font-weight: 600;
	font-size: 18px;
	display: inline-flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	height: 46px;
	padding: 0 30px;
	border: 2px solid $color-blue;
	background-color: $color-blue;
	color: $color-white;
	border-radius: 8px;
	cursor: pointer;
	text-decoration: none;
	transition: 150ms ease-in 0ms;
	transition-property: background-color, border-color, color;

	&:hover {
		background-color: lighten($color-blue, 5);
		border-color: lighten($color-blue, 5);
		text-decoration: none;
	}
}

.button_ghost {
	background-color: transparent;
	border-color: $color-blue-light;
	color: $color-blue-light;

	&:hover {
		color: $color-white;
	}
}

.star-rating {
	display: flex;

	&[data-srar="1"] > .star-rating-item:nth-of-type(-n + 1),
	&[data-srar="2"] > .star-rating-item:nth-of-type(-n + 2),
	&[data-srar="3"] > .star-rating-item:nth-of-type(-n + 3),
	&[data-srar="4"] > .star-rating-item:nth-of-type(-n + 4),
	&[data-srar="5"] > .star-rating-item:nth-of-type(-n + 5) {
		background-image: url("../images/star-on.svg");
	}
}

.star-rating-item {
	width: 40px;
	height: 35px;
	background-image: url("../images/star-off.svg");
	background-position: center;
	margin-right: 12px;
}

// Кнопка для видео
.video-wrap {
	position: relative;

	video {
		z-index: 1;
	}
}

button[data-play] {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100px;
	height: 100px;
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
	background-image: url("../images/icon-play-video.svg");
	cursor: pointer;
	z-index: 2;
}

@import "./common/header.scss";

@import "./pages/index/slider-main.scss";
@import "./pages/index/participant.scss";
@import "./pages/o-proyekte.scss";
@import "./pages/search.scss";

@import "./common/list-card.scss";

@import "./common/footer.scss";

// @media screen and (max-width: 1344px) {

// }

// @media screen and (max-width: 960px) {

// }

// @media screen and (max-width: 768px) {

// }
