// Цвета
$color-black: #231f20;
$color-black-light: #929497;
$color-white: #ffffff;
$color-blue: #005a98;
$color-blue-light: #44c7f4;

// Шрифты
$font-Open-Sans: "Open Sans", sans-serif;

@import "./common/fonts.scss";
@import "./common/tiny-slider.scss";

* {
	box-sizing: border-box;
	outline-offset: 4px;
}

// https://github.com/WICG/focus-visible
.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
}

#map {
	width: 100%;
	height: 400px;
	padding: 0;
	margin: 0;
}

.map {
	margin: 40px;

	li {
		margin-bottom: 10px;
	}

	a {
		color: $color-blue;
	}
}

body {
	margin: 0;
	padding: 0;
	font-family: $font-Open-Sans;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.4;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

p {
	margin: 10px 0;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.header-wrap {
	position: relative;
	z-index: 10;
}

main {
	position: relative;
	z-index: 1;
}

.page-heading-1 {
	margin: 0 0 32px 0;
	font-size: 36px;
	font-weight: 700;
}

main,
.header-wrap,
.footer-wrap {
	display: flex;
	flex-direction: column;
	flex-direction: column;
	align-items: center;
}

.content-w {
	width: 100%;
	max-width: 1280px;
}

.content-box {
	margin-top: 68px;
	margin-bottom: 68px;
}

.category-button {
	position: relative;
	display: flex;
	margin-bottom: 56px;
	align-items: center;
	justify-content: center;
}

.category-button__text {
	position: absolute;
	left: 0;
	font-size: 18px;
	font-weight: bold;
	top: 50%;
	transform: translateY(-50%);
	margin: 0;
	width: 37%;
}

.nam-area {
	margin: 0 0 8px 0;
	font-size: 32px;
	font-weight: normal;
}

.katalog-rodnikov-page .nam-area {
	color: $color-blue-light;
}

// Хлебные крошки
.bread-crumbs {
	display: flex;
	margin: 30px 0;
	flex-wrap: wrap;
}

.bread-crumbs__item {
	display: flex;
	color: $color-blue-light;
	align-items: center;

	* {
		color: $color-blue-light;
		font-size: 14px;
		font-weight: normal;
	}

	&::after {
		display: block;
		margin: -2px 8px 0 8px;
		content: "→";
	}

	&:hover::after {
		text-decoration: none;
	}

	&:last-child::after {
		content: none;
	}
}

// Пагинация
.pagination {
	display: flex;
}

.paginatio {
	display: inline-block;
	margin-right: 6px;
	padding: 2px 6px;

	a {
		color: $color-black;
	}
}

.paginatio_active {
	background-color: $color-black-light;
}

// Увеличения картинок
.medium-zoom-overlay {
	z-index: 99;
}

.medium-zoom-image--opened {
	z-index: 100;
}

// Кнопки
.button {
	display: inline-flex;
	height: 46px;
	padding: 0 30px;
	cursor: pointer;
	transition: 150ms ease-in 0ms;
	transition-property: background-color, border-color, color;
	text-align: center;
	text-decoration: none;
	color: $color-white;
	border: 2px solid $color-blue;
	border-radius: 8px;
	background-color: $color-blue;
	font-family: $font-Open-Sans;
	font-size: 18px;
	font-weight: 600;
	align-items: center;
	justify-content: center;

	&:hover {
		text-decoration: none;
		border-color: lighten($color-blue, 5);
		background-color: lighten($color-blue, 5);
	}
}

.button_ghost {
	color: $color-blue-light;
	border-color: $color-blue-light;
	background-color: transparent;

	&:hover {
		color: $color-white;
	}
}

.button_blue-light {
	background-color: $color-blue-light;
	border-color: $color-blue-light;
}

.star-rating {
	display: flex;
	align-items: center;

	&[data-srar="1"] > .star-rating-item:nth-of-type(-n + 1),
	&[data-srar="2"] > .star-rating-item:nth-of-type(-n + 2),
	&[data-srar="3"] > .star-rating-item:nth-of-type(-n + 3),
	&[data-srar="4"] > .star-rating-item:nth-of-type(-n + 4),
	&[data-srar="5"] > .star-rating-item:nth-of-type(-n + 5) {
		background-image: url("../images/star-on.svg");
	}
}

.star-rating-item {
	width: 40px;
	height: 35px;
	margin-right: 12px;
	background-image: url("../images/star-off.svg");
	background-repeat: no-repeat;
	background-position: center;
	flex-shrink: 0;
}

.star-rating-number {
	margin-left: 20px;
	text-align: left;
	color: $color-black-light;
	font-size: 18px;
}

// Кнопка для видео
.video-wrap {
	position: relative;

	video {
		z-index: 1;
	}
}

button[data-play] {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	transform: translate(-50%, -50%);
	border: none;
	background-color: transparent;
	background-image: url("../images/icon-play-video.svg");
}

// fix: куда нибудь всунь
.katalog-rodnikov-page__cards {
	margin-bottom: 68px;
}

@import "./common/header.scss";

@import "./pages/index/slider-main.scss";
@import "./pages/index/participant.scss";
@import "./pages/o-proyekte.scss";
@import "./pages/search.scss";
@import "./pages/springs-page.scss";
@import "./pages/contacts.scss";
@import "./pages/register-spring.scss";
@import "./pages/useful-information.scss";

@import "./common/list-card.scss";

@import "./common/footer.scss";
@import "./common/popup.scss";

@media screen and (max-width: 1320px) {
	.content-w {
		padding: 0 20px;
	}
}

@media screen and (max-width: 960px) {
	body {
		font-size: 14px;
	}
}

@media screen and (max-width: 768px) {
	.page-heading-1 {
		margin-bottom: 18px;
		font-size: 22px;
	}
}

// @media screen and (max-width: 1320px) {

// }

// @media screen and (max-width: 960px) {
// }

// @media screen and (max-width: 768px) {
// }
