// Цвета
$color-black: #231f20;
$color-black-light: #929497;
$color-white: #ffffff;
$color-blue: #005a98;
$color-blue-light: #44c7f4;

// Шрифты
$font-Open-Sans: "Open Sans", sans-serif;

@import "./common/fonts.scss";
@import "./common/tiny-slider.scss";

* {
	box-sizing: border-box;
	outline-offset: 4px;
}

// https://github.com/WICG/focus-visible
.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
}

body {
	margin: 0;
	padding: 0;
	font-family: $font-Open-Sans;
	font-weight: normal;
	line-height: 1.2;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

br {
	content: "";
	display: block;
}

.header-wrap {
	position: relative;
	z-index: 10;
}

main {
	z-index: 1;
}

main,
.header-wrap,
.footer-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-direction: column;
}

.content-w {
	width: 100%;
	max-width: 1280px;
}

// Кнопки
.button {
	font-family: $font-Open-Sans;
	font-weight: 600;
	font-size: 18px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	height: 46px;
	padding: 0 30px;
	border: 2px solid $color-blue;
	background-color: $color-blue;
	color: $color-white;
	border-radius: 8px;
	cursor: pointer;
	text-decoration: none;
	transition: 150ms ease-in 0ms;
	transition-property: background-color, border-color, color;

	&:hover {
		background-color: lighten($color-blue, 5);
		border-color: lighten($color-blue, 5);
		text-decoration: none;
	}
}

.button_ghost {
	background-color: transparent;
	border-color: $color-blue-light;
	color: $color-blue-light;

	&:hover {
		color: $color-white;
	}
}

@import "./common/header.scss";

@import "./pages/index/slider-main.scss";

@import "./common/footer.scss";

// @media screen and (max-width: 1344px) {

// }

// @media screen and (max-width: 960px) {

// }

// @media screen and (max-width: 768px) {

// }
