.participant {
	display: flex;
}

.participant__item {
	margin-right: 48px;

	&:last-child {
		margin-right: 0;
	}
}

.participant__ava-wrap {
	display: flex;
	margin-bottom: 38px;
}

.participant__ava {
	width: 160px;
	height: 160px;
	margin-right: 38px;
	border-radius: 100px;
}

.participant__ava-text {
	display: flex;
	flex-direction: column;
	margin-top: 22px;
}

.participant__ava-name {
	margin-bottom: 12px;
	text-transform: uppercase;
	font-size: 18px;
}

.participant__ava-date {
	color: $color-black-light;
	font-size: 12px;
}

@media screen and (max-width: 1060px) {
	.participant__ava {
		width: 80px;
		height: 80px;
	}
}

@media screen and (max-width: 960px) {
	.participant {
		flex-direction: column;
	}

	.participant__item {
		margin-right: 0;
		margin-bottom: 38px;
	}

	.participant__ava-wrap {
		margin-bottom: 10px;
	}

	.participant__ava-text {
		margin-top: 10px;
	}
}
