.slider-main__wrap {
	width: 100%;
	max-width: 1920px;
	margin-top: -80px;

	.tns-outer {
		position: relative;

		.tns-nav {
			position: absolute;
			left: 50%;
			bottom: 60px;
			z-index: 4;
			width: 100%;
			max-width: 1280px;
			margin: 0 auto;
			transform: translateX(-50%);
			display: flex;
			align-items: center;

			button {
				padding: 0;
				margin: 0 12px 0 0;
				background-color: $color-white;
				border: 0;
				width: 10px;
				height: 10px;
				border-radius: 20px;
				transition: 200ms ease-in-out 0ms;
				transition-property: width, height;

				&:last-child {
					margin-right: 0;
				}
			}

			button.tns-nav-active {
				width: 16px;
				height: 16px;
			}
		}
	}
}

.tns-horizontal.tns-subpixel > .slider-main__item {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	height: 700px;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	&::before {
		position: absolute;
		content: "";
		top: 0;
		right: 0;
		left: 0;
		height: 50%;
		background: linear-gradient(180deg, #231f20 0%, rgba(35, 31, 32, 0) 100%);
		z-index: 2;
	}
}

.slider-main__img {
	position: absolute;
	display: block;
	width: 100%;
	height: auto;
	z-index: 1;
}

.slider-main__text {
	position: absolute;
	top: 100px;
	display: inline-block;
	width: 100%;
	max-width: 1280px;
	padding-right: 640px;
	font-size: 27px;
	font-weight: 600px;
	color: $color-white;

	z-index: 3;
}
