.slider-main__wrap {
	width: 100%;
	max-width: 1920px;
	margin-top: -80px;

	.tns-outer {
		position: relative;

		.tns-nav {
			position: absolute;
			z-index: 4;
			bottom: 60px;
			left: 50%;
			display: flex;
			width: 100%;
			max-width: 1280px;
			margin: 0 auto;
			transform: translateX(-50%);
			align-items: center;

			button {
				width: 10px;
				height: 10px;
				margin: 0 12px 0 0;
				padding: 0;
				transition: 200ms ease-in-out 0ms;
				transition-property: width, height;
				border: 0;
				border-radius: 20px;
				background-color: $color-white;

				&:last-child {
					margin-right: 0;
				}
			}

			button.tns-nav-active {
				width: 16px;
				height: 16px;
			}
		}
	}
}

.tns-horizontal.tns-subpixel > .slider-main__item {
	position: relative;
	// height: 700px;
	display: inline-flex;
	overflow: hidden;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;

	&::before {
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;
		left: 0;
		height: 50%;
		content: "";
		background: linear-gradient(180deg, #231f20 0%, rgba(35, 31, 32, 0) 100%);
	}
}

.slider-main__img {
	z-index: 1;
	// position: absolute;
	display: block;
	width: 100%;
	height: auto;
}

.slider-main__text {
	position: absolute;

	z-index: 3;
	top: 100px;
	left: 50%;
	display: inline-block;
	width: 100%;
	max-width: 1280px;
	padding-right: 640px;
	transform: translateX(-50%);
	color: $color-white;
	font-size: 27px;
	font-weight: 600;
}

@media screen and (max-width: 1320px) {
	.slider-main__text {
		margin-left: 20px;
		padding-right: 0;
	}

	.slider-main__wrap .tns-outer .tns-nav {
		margin-left: 20px;
	}
}

@media screen and (max-width: 960px) {
	.slider-main__wrap {
		margin-top: 0;
	}

	.slider-main__text {
		display: none;
	}

	.slider-main__wrap .tns-outer .tns-nav {
		bottom: 20px;
		padding: 0 20px;
	}

	.tns-horizontal.tns-subpixel > .slider-main__item::before {
		content: none;
	}
}

@media screen and (max-width: 768px) {
	.category-button {
		margin-right: -20px;
		flex-wrap: wrap;

		* {
			margin-right: 20px;
			margin-bottom: 10px;
		}
	}

	.category-button__text {
		position: static;
		top: auto;
		transform: none;
		width: 100%;
	}
}
