header.header-wrap
    .header.content-w
        .header__top
            img(src="./assets/images/logo.svg", alt="").main-logo
            .header__body
                .header__body-top
                    a(href="tel:+74959950595").header__tel +7 (495) 995-05-95
                    
                    ul.header__social-wrap
                        li.header__social-item
                            a(href="#").header__social-linc
                                svg
                                    use(xlink:href="./assets/images/sprite.svg#icon-vk")
                        li.header__social-item
                            a(href="#").header__social-linc
                                svg
                                    use(xlink:href="./assets/images/sprite.svg#icon-facebook")
                        li.header__social-item
                            a(href="#").header__social-linc
                                svg
                                    use(xlink:href="./assets/images/sprite.svg#icon-youtube")
                        li.header__social-item
                            a(href="#").header__social-linc
                                svg
                                    use(xlink:href="./assets/images/sprite.svg#icon-instagram")
                    
                    ul.header__lang-wrap
                        li.header__lang-item
                            a(href="#").header__lang-linc
                                svg
                                    use(xlink:href="./assets/images/sprite.svg#icon-rus")
                        li.header__lang-item
                            a(href="#").header__lang-linc
                                svg
                                    use(xlink:href="./assets/images/sprite.svg#icon-usa")
                        li.header__lang-item
                            a(href="#").header__lang-linc
                                svg
                                    use(xlink:href="./assets/images/sprite.svg#icon-knr")

                .header__body-bot
                    a(href="#").button.button_ghost Родники поблизости
                    a(href="#").button.button_ghost Подписка на рассылку
                    
                    form.header__search
                        label.header__search-label
                            input(type="search", name="").header__search-input
                            button(type="submit").header__search-button
                                svg
                                    use(xlink:href="./assets/images/sprite.svg#icon-search")
        nav.header__menu
            ul.header__menu-list
                li.header__menu-item
                    a(href="#").header__menu-linc О проекте
                li.header__menu-item
                    a(href="#").header__menu-linc Родники 
                li.header__menu-item
                    a(href="#").header__menu-linc Зарегистрировать свой родник
                li.header__menu-item
                    a(href="#").header__menu-linc Полезная информация
                li.header__menu-item
                    a(href="#").header__menu-linc Выставкии конференции
                li.header__menu-item
                    a(href="#").header__menu-linc Контакты



