.footer-wrap {
	background-color: $color-blue;
}

.footer {
	display: flex;
	height: 100px;
	align-items: center;
	justify-content: center;
}

.footer__list {
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer__list-item::after {
	margin: 0 10px;
	content: "|";
	color: $color-white;
	font-size: 12px;
}

.footer__list-item:last-child::after {
	content: none;
}

.footer__list-linc {
	color: $color-white;
	font-size: 12px;
}

@media screen and (max-width: 960px) {
	.footer {
		height: auto;
		margin: 10px 0;
	}

	.footer__list {
		flex-direction: column;
	}

	.footer__list-item::after {
		content: none;
	}

	.footer__list-item {
		text-align: center;
	}
}
