.header__top {
	display: flex;
	align-items: center;
	padding: 56px 0 46px 0;
}

.main-logo {
	flex-shrink: 0;
	margin-right: 50px;
}

.header__body {
	width: 100%;
}

.header__body-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 12px;
}

.header__tel {
	color: $color-blue;
	font-weight: 700;
	font-size: 30px;
}

.header__social-wrap {
	display: flex;
	align-items: center;
}

.header__social-item {
	margin-right: 12px;

	&:last-child {
		margin-right: 0;
	}
}

.header__social-linc {
	display: block;
	background-color: $color-blue;
	border-radius: 3px;
	width: 30px;
	height: 30px;
	transition: background-color 150ms ease-in 0ms;

	&:hover {
		background-color: lighten($color-blue, 5);
	}

	svg {
		width: 30px;
		height: 30px;
	}
}

.header__lang-wrap {
	display: flex;
	align-items: center;
}

.header__lang-item {
	margin-right: 12px;

	&:last-child {
		margin-right: 0;
	}
}

.header__lang-linc {
	display: block;
	width: 30px;
	height: 30px;

	svg {
		width: 30px;
		height: 30px;
	}
}

.header__body-bot {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__body-bot-button-wrap {
	display: flex;
	align-items: center;

	* {
		margin-right: 12px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.header__search {
	width: 46px;
	height: 46px;
	position: relative;

	svg {
		position: absolute;
		width: 30px;
		height: 30px;
		z-index: 2;
		right: 8px;
		top: 8px;
		cursor: pointer;
	}
}

.header__search-input {
	font-family: $font-Open-Sans;
	font-size: 18px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
	height: 46px;
	width: 0;
	border: 2px solid $color-blue-light;
	border-radius: 8px;
	padding: 0 42px 0 12px;
	opacity: 0;
	transition: 200ms ease-out 0ms;
	transition-property: opacity, width;

	&:not(:placeholder-shown),
	&:focus {
		opacity: 1;
		width: 500px;
		outline: none;
	}
}

.header__menu {
	height: 124px;
	background-color: $color-blue-light;
}

.header__menu-list {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.header__menu-linc {
	display: inline-block;
	color: $color-white;
	font-weight: 600;
	font-size: 23px;
	line-height: 31px;
	text-align: center;
}
