.cards__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.cards__items {
	display: flex;
	flex-direction: column;

	&:hover {
		text-decoration: none;
	}

	&:nth-of-type(10n-7),
	&:nth-of-type(10n-4) {
		grid-row-end: span 2;

		.cards__items-img {
			flex-grow: 1;
		}
	}

	&:nth-last-of-type(1),
	&:nth-last-of-type(2),
	&:nth-last-of-type(3) {
		grid-row-end: span 1;

		.cards__items-img {
			flex-grow: 0;
		}
	}
}

.cards__items-img {
	width: 100%;
	min-height: 280px;
	background-image: url("../images/img-1.jpg");
	background-position: center;
	background-size: cover;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	/* IE10+ specific styles go here */
	.cards__list {
		display: flex;
		flex-wrap: wrap;
	}

	.cards__items {
		width: 33.33%;
	}
}

.cards__items-body {
	padding: 20px;
	color: $color-black;
}

.cards__items-star {
	margin-bottom: 12px;
}

.cards__items-h {
	margin: 0 0 12px 0;
	font-size: 22px;
	font-weight: normal;
}

.cards__items-text {
	margin: 0;
	color: $color-black-light;
}

.cards_photo {
	position: relative;

	.cards__items-img {
		min-height: 350px;
	}

	.cards__photo-text {
		position: absolute;
		right: 10px;
		bottom: 10px;
		left: 10px;
		text-align: center;
		color: $color-white;
		text-shadow: 0 0 10px #000, 0 0 20px #000;
		font-size: 22px;
		font-weight: 600;
	}
}

@media screen and (max-width: 1040px) {
	.cards__list {
		grid-template-columns: repeat(2, 1fr);
	}

	.cards__items {
		&:nth-of-type(10n-7),
		&:nth-of-type(10n-4) {
			grid-row-end: span 1;

			.cards__items-img {
				flex-grow: 0;
			}
		}
	}
}

@media screen and (max-width: 960px) {
	.star-rating-item {
		margin-right: 4px;
	}
}

@media screen and (max-width: 768px) {
	.cards__list {
		grid-template-columns: 1fr;
	}

	.nam-area {
		font-size: 22px;
	}

	.cards__items-body {
		padding: 20px 0;
	}

	.cards__items-img {
		min-height: 200px;
	}

	.cards__items-h {
		font-size: 16px;
	}

	.cards__items-text {
		font-size: 14px;
	}

	.content-box {
		margin-top: 28px;
		margin-bottom: 28px;
	}

	.category-button {
		margin-bottom: 18px;
	}

	.cards_photo .cards__photo-text {
		font-size: 18px;
	}
}
